.banner {
	text-align: center;
}

.banner .banner-content {
	background-color: var(--bg-secondary);
	color: var(--text-primary);
	display: block !important;
	padding: 0.875rem 0.75rem;
}

.banner .banner-logo {
	display: none;
	height: 2.5rem;
	margin-bottom: 1.5rem;
	width: 6.375rem;
}

.banner .banner-title {
	font-size: 1.125rem;
	font-weight: 700;
	margin: 0px;
}

.banner .banner-subtitle {
	font-size: 1rem;
	font-weight: 400;
	margin: 0.25rem auto 0px auto;
	max-width: 12.5rem;
}

#my-products .title {
	margin-top: 1.875rem;
}

.products-row {
	display: grid;
	grid-gap: 3.4375rem;
	grid-template-columns: 14.6875rem;
	justify-content: center;
	margin-top: 3.125rem;
}

.product {
	align-items: center;
	display: flex;
	flex-direction: column;
	position: relative;
}

.product .icon {
	content: "";
	min-height: 2.5rem;
	min-width: 2.5rem;
	position: absolute;
	right: 0px;
	top: 0px;
	transform: translate(50%, -50%);
}

.product .product-image {
	border-top-left-radius: 0.5rem;
	height: 17.875rem;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

.product .product-title {
	font-size: 1rem;
	font-weight: 700;
	text-align: center;
	margin-bottom: 1.625rem;
	margin-top: 1.125rem;
}

#recents {
	padding: 1.875rem 0.625rem;
}

#recents .container {
	align-items: center;
	display: flex;
	flex-direction: column;
}

#recents .tabs {
	background-color: var(--bg-primary);
	border-radius: 1rem;
	margin: 1.875rem 0px;
}

@media (max-width: 576px) {
	.banner {
		height: auto;
	}

	.banner .banner-background {
		height: 34.5vw;
		position: relative;
	}
}

@media (min-width: 576px) {
	#my-products {
		padding: 1.875rem;
	}

	.banner .banner-content {
		background-color: transparent;
		color: #fff;
		margin-left: auto;
		margin-right: auto;
	}

	.banner .banner-logo {
		display: inline;
	}

	.banner .banner-title,
	.banner .banner-subtitle {
		font-size: 1.5rem;
		font-weight: 500;
		max-width: none;
	}
}

@media (max-width: 768px) {
	.tabs li a {
		height: 4.25rem;
	}
}

@media (min-width: 768px) {
	#recents {
		padding: 1.875rem;
	}

	.banner .banner-content {
		margin-left: 7.25rem;
	}

	.products-row {
		grid-template-columns: repeat(auto-fill, 20.3125rem);
		justify-content: start;
	}

	.product .icon {
		min-height: 3.375rem;
		min-width: 3.375rem;
		transform: translate(50%, -50%);
	}

	.product .product-image {
		height: 24.6875rem;
	}

	.product .product-title {
		font-size: 1.125rem;
	}
}
