body {
	height: 100vh;
	overflow: hidden;
}

.icon {
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
	display: block;
	height: 54px;
	min-height: 54px;
	min-width: 54px;
	width: 54px;
}

.icon.icon-supercerebro {
	background-color: var(--color-primary);
	background-image: url(../img/icons/supercerebro.svg);
	background-size: 66.6667%;
}

.icon.icon-bomba-de-imunidade {
	background-color: var(--color-secondary);
	background-image: url(../img/icons/bomba-de-imunidade.svg);
	background-size: 52.14%;
}

.container {
	margin: 0px auto;
	max-width: 1326px !important;
	padding: 0px !important;
	width: 100%;
}

.title {
	font-size: 20px;
	font-weight: 700;
	margin: 30px 0px;
	text-align: center;
}

@media (min-width: 576px) {
	.title {
		font-size: 22px;
	}
}
