.banner {
	color: #fff;
	display: flex;
	flex-direction: column;
	height: 242px;
	justify-content: center;
	margin: -16px;
	margin-bottom: 0px;
	overflow: hidden;
	position: relative;
	text-align: center;
	z-index: 1;
}

.banner .banner-background {
	height: 100%;
	left: 0px;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: -1;
}

.banner .banner-content {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.banner .icon {
	height: 86px;
	width: 86px;
}

.banner .banner-title {
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 0px;
	margin-top: 20px;
}

.banner .banner-subtitle {
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 0px;
	margin-top: 5px;
}

.banner + .banner-footer {
	background-color: var(--bg-secondary);
	display: flex;
	justify-content: center;
	margin: 0px -16px;
}

@media (min-width: 576px) {
	.banner {
		height: 326px;
		margin: 0px;
	}

	.banner .banner-background {
		height: 100%;
	}

	.banner + .banner-footer {
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		margin: 0px;
	}
}

@media (min-width: 768px) {
	.banner {
		text-align: left;
	}

	.banner .banner-content {
		flex-direction: row;
		margin-left: 88px;
	}

	.banner .icon {
		height: 206px;
		margin-right: 30px;
		width: 206px;
	}

	.banner .banner-title {
		font-size: 26px;
		margin-top: 0px;
	}

	.banner .banner-subtitle {
		font-size: 22px;
	}
}
