.greetings .container {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.greetings iframe {
	min-height: 13.375rem;
	width: 100%;
}

.greetings .greetings-content {
	line-height: 1.875rem;
	margin-top: 2.1875rem;
}

.greetings .greetings-text {
	font-size: 0.875rem;
	margin: 0px;
}

@media (min-width: 576px) {
	.greetings iframe {
		min-height: 26.625rem;
	}

	.greetings .greetings-text {
		font-size: 1rem;
	}
}

@media (min-width: 992px) {
	.greetings .container {
		flex-direction: row;
	}

	.greetings iframe {
		margin-right: 2.1875rem;
		min-width: 50%;
	}

	.greetings .greetings-content {
		margin-top: 0px;
	}
}

@media (min-width: 1500px) {
	.greetings iframe {
		margin-right: 5rem;
		min-width: 38.8125rem;
	}
}
