main {
	overflow-x: hidden;
	overflow-y: scroll;
}

.sidebar,
main {
	--sidebar-width: 275px;
	height: 100%;
}

.sidebar {
	background-color: transparent;
	position: fixed;
	transition: background-color 0.2s ease;
	overflow: visible;
	width: 0px;
}

.sidebar .sidebar-brand {
	align-items: center;
	background-color: var(--bg-primary);
	display: flex;
	height: 70px;
	justify-content: center;
	margin-bottom: 18px;
}

.sidebar .sidebar-logo {
	height: 20px;
	width: 170px;
}

.sidebar .sidebar-navbar {
	background-color: var(--bg-sidebar);
	height: 100%;
	max-width: var(--sidebar-width);
	min-width: var(--sidebar-width);
	overflow-y: scroll;
	transform: translateX(calc(var(--sidebar-width) * -1));
	transition: transform 0.3s ease;
}

.sidebar .sidebar-navbar::-webkit-scrollbar {
	background: transparent; /* Optional: just make scrollbar invisible */
	width: 0; /* Remove scrollbar space */
}

.sidebar-active .sidebar {
	background-color: rgba(0, 0, 0, 0.25);
	width: 100%;
}

.sidebar-active .sidebar .sidebar-navbar {
	transform: translateX(0px);
}

#sidebar-toggler {
	align-items: center;
	background-color: var(--bg-primary);
	border: none;
	border-radius: 8px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.125);
	display: flex;
	height: 40px;
	justify-content: center;
	left: 28px;
	position: fixed;
	top: 44px;
	transition: background-color 0.3s ease, left 0.3s ease;
	user-select: none;
	width: 40px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.burguer-animated > *,
.burguer-animated::before,
.burguer-animated::after {
	background-color: var(--text-primary);
	border-radius: 99px;
	display: block;
	height: 4px;
	width: 22px;
	overflow: visible;
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.burguer-animated::before,
.burguer-animated::after {
	content: "";
	margin: 4px 0px;
}

.sidebar-active .burguer-animated > * {
	opacity: 0;
}

.sidebar-active .burguer-animated::before {
	transform: rotate(45deg) translate(6px, 6px);
}

.sidebar-active .burguer-animated::after {
	transform: rotate(-45deg) translate(5px, -5px);
}

#sidebar-toggler:hover {
	background-color: #f0f0f0;
}

.sidebar-active #sidebar-toggler {
	left: calc(var(--sidebar-width) + 24px);
}

.sidebar,
#sidebar-toggler {
	z-index: 999;
}

.sidebar ul li {
	display: flex;
	flex-direction: column;
}

.sidebar .sidebar-nav > li + li {
	border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.sidebar .sidebar-nav > li:first-of-type {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	overflow: hidden;
}

.sidebar ul li a {
	align-items: center;
	display: flex;
	font-size: 16px;
	min-height: 55px;
	padding: 10px 16px;
	transition: background-color 0.2s ease;
	width: 100%;
}

.sidebar .sidebar-item-dropdown .sidebar-item-dropdown-toggler {
	height: 26px;
	transition: transform 0.3s ease;
	width: 26px;
}

.sidebar .sidebar-item-dropdown.active > a {
	background-color: #2da0f9;
}

.sidebar .sidebar-item-dropdown.active .sidebar-item-dropdown-toggler {
	transform: rotate(-180deg);
}

.sidebar .sidebar-nav > li > a:hover {
	background-color: #2da0f9;
}

.sidebar .sidebar-nav > .sidebar-item-dropdown.active ~ li a:hover {
	background-color: rgba(0, 0, 0, 0.1) !important;
}

.sidebar .sidebar-nav > li > a .sidebar-item-icon {
	height: 16px;
	margin-right: 16px;
	width: 16px;
}

.sidebar ul li a,
.sidebar .sidebar-item-icon {
	color: #fff;
}

.sidebar .sidebar-dropdown {
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.5s ease-in-out;
}

.sidebar .sidebar-item-dropdown.active .sidebar-dropdown {
	max-height: 100vh;
}

.sidebar .sidebar-dropdown a {
	background-color: var(--bg-dropdown-secondary);
	padding-left: 28px;
}

.sidebar .sidebar-dropdown .sidebar-dropdown-item + .sidebar-dropdown-item a {
	border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.sidebar .sidebar-dropdown .sidebar-dropdown-item.active a,
.sidebar .sidebar-dropdown a:hover,
.sidebar .sidebar-dropdown .sidebar-dropdown-item.owns a:focus {
	background-color: var(--bg-dropdown-primary);
}

.sidebar .sidebar-dropdown a::after {
	background-image: url(../../img/icons/alert.svg);
	background-position: center;
	background-size: cover;
	content: "";
	display: block;
	height: 24px;
	margin-left: auto;
	width: 24px;
}

.sidebar .sidebar-dropdown .sidebar-dropdown-item.owns a {
	font-weight: 500;
}

.sidebar .sidebar-dropdown .sidebar-dropdown-item.owns a::after {
	background-image: url(../../img/icons/ok.svg);
}

.sidebar .sidebar-dropdown .sidebar-item-icon {
	margin-right: 10px;
}

@media (min-width: 576px) {
	.sidebar,
	main {
		--sidebar-width: 320px;
		height: calc(100vh - var(--navbar-height));
		margin-top: var(--navbar-height);
	}

	.sidebar .sidebar-brand {
		display: none;
	}

	.sidebar .sidebar-navbar {
		padding-top: 50px;
	}

	#sidebar-toggler {
		top: calc(var(--navbar-height) + 16px);
	}

	.sidebar-active #sidebar-toggler {
		left: calc(var(--sidebar-width) + 16px);
	}

	.sidebar ul li a {
		font-size: 18px;
		min-height: 60px;
	}

	.sidebar .sidebar-item-dropdown .sidebar-item-dropdown-toggler {
		height: 32px;
		width: 32px;
	}

	.sidebar .sidebar-nav > li > a .sidebar-item-icon {
		height: 20px;
		margin-right: 20px;
		width: 20px;
	}

	.sidebar .sidebar-dropdown a {
		background-color: var(--bg-dropdown-secondary);
		padding-left: 44px;
	}
}

@media (min-width: 1200px) {
	.sidebar {
		transform: none !important;
		width: auto !important;
	}

	.sidebar .sidebar-navbar {
		transform: none !important;
	}

	#sidebar-toggler {
		display: none !important;
	}

	main {
		padding-left: var(--sidebar-width);
	}
}
