.sidebar,
main {
	--sidebar-width: 17.1875rem;
	height: 100%;
}

.sidebar {
	background-color: transparent;
	position: fixed;
	transition: background-color 0.2s ease;
	overflow: visible;
	width: 0px;
}

.sidebar .sidebar-brand {
	align-items: center;
	background-color: var(--bg-primary);
	display: flex;
	height: 4.375rem;
	justify-content: center;
	margin-bottom: 1.125rem;
}

.sidebar .sidebar-logo {
	height: 1.25rem;
	width: 10.625rem;
}

.sidebar .sidebar-navbar {
	background-color: var(--bg-sidebar);
	height: 100%;
	max-width: var(--sidebar-width);
	min-width: var(--sidebar-width);
	overflow-y: scroll;
	scrollbar-width: none;
	transform: translateX(calc(var(--sidebar-width) * -1));
	transition: transform 0.3s ease;
}

.sidebar .sidebar-navbar::-webkit-scrollbar {
	background: transparent; /* Optional: just make scrollbar invisible */
	width: 0; /* Remove scrollbar space */
}

.sidebar-active .sidebar {
	background-color: rgba(0, 0, 0, 0.25);
	width: 100%;
}

.sidebar-active .sidebar .sidebar-navbar {
	transform: translateX(0px);
}

#sidebar-toggler {
	align-items: center;
	background-color: var(--bg-primary);
	border: none;
	border-radius: 0.5rem;
	box-shadow: 0px 0.125rem 0.625rem rgba(0, 0, 0, 0.125);
	display: flex;
	height: 2.5rem;
	justify-content: center;
	left: 1.75rem;
	position: fixed;
	top: 2.75rem;
	transition: background-color 0.3s ease, left 0.3s ease;
	user-select: none;
	width: 2.5rem;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.burguer-animated > *,
.burguer-animated::before,
.burguer-animated::after {
	background-color: var(--text-primary);
	border-radius: 80rem;
	display: block;
	height: 0.25rem;
	width: 1.375rem;
	overflow: visible;
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.burguer-animated::before,
.burguer-animated::after {
	content: "";
	margin: 0.25rem 0px;
}

.sidebar-active .burguer-animated > * {
	opacity: 0;
}

.sidebar-active .burguer-animated::before {
	transform: rotate(45deg) translate(0.375rem, 0.375rem);
}

.sidebar-active .burguer-animated::after {
	transform: rotate(-45deg) translate(0.3125rem, -0.3125rem);
}

#sidebar-toggler:hover {
	background-color: #f0f0f0;
}

.sidebar-active #sidebar-toggler {
	left: calc(var(--sidebar-width) + 1.5rem);
}

.sidebar,
#sidebar-toggler {
	z-index: 999;
}

.sidebar ul li {
	display: flex;
	flex-direction: column;
}

.sidebar .sidebar-nav > li + li {
	border-top: 0.0625rem solid rgba(255, 255, 255, 0.25);
}

.sidebar .sidebar-nav > li:first-of-type {
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	overflow: hidden;
}

.sidebar ul li a {
	align-items: center;
	display: flex;
	font-size: 1rem;
	min-height: 3.4375rem;
	padding: 0.625rem 1rem;
	transition: background-color 0.2s ease;
	width: 100%;
}

.sidebar .sidebar-item-dropdown .sidebar-item-dropdown-toggler {
	height: 1.625rem;
	transition: transform 0.3s ease;
	width: 1.625rem;
}

.sidebar .sidebar-item-dropdown.active > a {
	background-color: #2da0f9;
}

.sidebar .sidebar-item-dropdown.active .sidebar-item-dropdown-toggler {
	transform: rotate(-180deg);
}

.sidebar .sidebar-nav > li > a:hover {
	background-color: #2da0f9;
}

.sidebar .sidebar-nav > .sidebar-item-dropdown.active ~ li a:hover {
	background-color: rgba(0, 0, 0, 0.1) !important;
}

.sidebar .sidebar-nav > li > a .sidebar-item-icon {
	height: 1rem;
	margin-right: 1rem;
	width: 1rem;
}

.sidebar ul li a,
.sidebar .sidebar-item-icon {
	color: #fff;
}

.sidebar .sidebar-dropdown {
	max-height: 0px;
	overflow: hidden;
	transition: max-height 0.5s ease-in-out;
}

.sidebar .sidebar-item-dropdown.active .sidebar-dropdown {
	max-height: 100vh;
}

.sidebar .sidebar-dropdown a {
	background-color: var(--bg-dropdown-secondary);
	padding-left: 1.75rem;
}

.sidebar .sidebar-dropdown .sidebar-dropdown-item + .sidebar-dropdown-item a {
	border-top: 0.0625rem solid rgba(0, 0, 0, 0.25);
}

.sidebar .sidebar-dropdown .sidebar-dropdown-item.active a,
.sidebar .sidebar-dropdown a:hover,
.sidebar .sidebar-dropdown .sidebar-dropdown-item.owns a:focus {
	background-color: var(--bg-dropdown-primary);
}

.sidebar .sidebar-dropdown a::after {
	background-image: url(../../img/icons/alert.svg);
	background-position: center;
	background-size: cover;
	content: "";
	display: block;
	height: 1.5rem;
	margin-left: auto;
	width: 1.5rem;
}

.sidebar .sidebar-dropdown .sidebar-dropdown-item.owns a {
	font-weight: 500;
}

.sidebar .sidebar-dropdown .sidebar-dropdown-item.owns a::after {
	background-image: url(../../img/icons/ok.svg);
}

.sidebar .sidebar-dropdown .sidebar-item-icon {
	margin-right: 0.625rem;
}

.sidebar-active {
	overflow: hidden;
}

@media (min-width: 576px) {
	body {
		height: 100vh;
		overflow: hidden;
	}

	main {
		overflow-x: hidden;
		overflow-y: scroll;
	}

	.sidebar,
	main {
		--sidebar-width: 20rem;
		height: calc(100vh - var(--navbar-height));
		margin-top: var(--navbar-height);
	}

	.sidebar .sidebar-brand {
		display: none;
	}

	.sidebar .sidebar-navbar {
		padding-top: 3.125rem;
	}

	#sidebar-toggler {
		top: calc(var(--navbar-height) + 1rem);
	}

	.sidebar-active #sidebar-toggler {
		left: calc(var(--sidebar-width) + 1rem);
	}

	.sidebar ul li a {
		font-size: 1.125rem;
		min-height: 3.75rem;
	}

	.sidebar .sidebar-item-dropdown .sidebar-item-dropdown-toggler {
		height: 2rem;
		width: 2rem;
	}

	.sidebar .sidebar-nav > li > a .sidebar-item-icon {
		height: 1.25rem;
		margin-right: 1.25rem;
		width: 1.25rem;
	}

	.sidebar .sidebar-dropdown a {
		background-color: var(--bg-dropdown-secondary);
		padding-left: 2.75rem;
	}
}

@media (min-width: 1200px) {
	.sidebar {
		transform: none !important;
		width: auto !important;
	}

	.sidebar .sidebar-navbar {
		transform: none !important;
	}

	#sidebar-toggler {
		display: none !important;
	}

	main {
		padding-left: var(--sidebar-width);
	}
}
