.support-row {
	display: grid;
	grid-gap: 4rem;
	margin: 0px -1rem;
}

.support {
	align-items: center;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.support .support-image {
	height: 12.625rem;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

.support .support-title {
	font-size: 1.125rem;
	font-weight: 700;
	margin: 1.25rem 0px;
	width: 100%;
}

.support .support-description {
	line-height: 1.875rem;
	margin-bottom: 1.25rem;
	margin-top: 0px;
}

.support .support-title,
.support .support-description {
	padding: 0px 0.875rem;
}

@media (min-width: 576px) {
	.support-row {
		margin: 0px;
	}

	.support .support-image {
		border-top-left-radius: 0.5rem;
		border-top-right-radius: 0.5rem;
	}
}

@media (min-width: 768px) {
	.support-row {
		grid-template-columns: repeat(auto-fill, minmax(24.5625rem, 1fr));
	}

	.support .support-title,
	.support .support-description {
		padding: 0px;
	}
}
